<ion-header>
  <ion-toolbar>
    <ion-title>Transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="filter" class="filter-segment">
    <ion-segment-button value="today">
      <ion-label>Hari Ini</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Minggu Ini</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="groupedTransactions.length > 0; else noTransactions">
    <div *ngFor="let group of groupedTransactions">
      <ion-item-divider>
        <ion-label color="medium">{{group.dateLabel}}</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item *ngFor="let t of group.transactions">
          <ion-avatar slot="start">
            <ion-icon [name]="t.icon"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>{{t.description}}</h3>
            <p>{{t.category}}</p>
          </ion-label>
          <ion-note [color]="t.type === 'income' ? 'success' : 'danger'" slot="end">
            {{ t.type === 'income' ? '+' : '-' }} Rp {{t.amount | number:'1.0-0'}}
          </ion-note>
        </ion-item>
      </ion-list>
    </div>
  </ng-container>

  <ng-template #noTransactions>
    <div class="empty-state ion-text-center ion-padding">
      <ion-icon name="receipt-outline" size="large" color="medium"></ion-icon>
      <p>Belum ada transaksi untuk periode ini</p>
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addTransaction()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
