<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="sendPasswordResetEmail()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Send Reset Email</ion-button>
  </form>

  <ion-text color="primary" *ngIf="message">
    <p>{{ message }}</p>
  </ion-text>

  <!-- Back to Login Button -->
  <ion-button fill="clear" (click)="navigateToLogin()" color="secondary" expand="full">
    <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
    Back to Login
  </ion-button>
</ion-content>
